using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;

using Microsoft.EntityFrameworkCore;

using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

public class Update{{FeatureName}}QueryHandler : IQueryHandler<Update{{FeatureName}}Query, {{FeatureName}}Dto>
{
    private readonly IDbContextFactory<{{ProjectName}}DbContext> _contextFactory;

    public Update{{FeatureName}}QueryHandler(IDbContextFactory<{{ProjectName}}DbContext> contextFactory)
    {
        _contextFactory = contextFactory;
    }

    public IQueryHandler<Update{{FeatureName}}Query, {{FeatureName}}Dto> Successor { get; set; } = default!;

    public async Task<Option<{{FeatureName}}Dto>> RunQueryAsync(
        Update{{FeatureName}}Query query,
        CancellationToken cancellationToken
    )
    {
        await using var context = await _contextFactory.CreateDbContextAsync(cancellationToken);
        var entity = await context.Set<Entities.{{FeatureName}}>().FirstOrDefaultAsync(
            item => item.Id == query.Id,
            cancellationToken
        );

        if (entity == null)
        {
            return Option<{{FeatureName}}Dto>.None;
        }

        entity.Name = query.Name;
        await context.SaveChangesAsync(cancellationToken);

        return new {{FeatureName}}Dto
        {
            Id = entity.Id,
            Name = entity.Name,
            Message = "Updated",
        };
    }
}
