using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Common.Tests.Testing;
using {{ProjectName}}.Features.{{FeatureName}};
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;
using {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;
using {{ProjectName}}.Features.{{FeatureName}}.Tests.Testing;

namespace {{ProjectName}}.Features.{{FeatureName}}.Tests.QueryHandlers;

public class Update{{FeatureName}}QueryHandlerTests
{
    [Fact]
    public async Task RunQueryAsync_WhenEntityExists_UpdatesAndReturnsUnit()
    {
        await using var scope = new InMemoryFeatureTestScope<{{ProjectName}}DbContext, {{FeatureName}}MapsterConfig>(
            typeof(Update{{FeatureName}}QueryHandler).Assembly
        );
        await scope.EnsureCreatedAsync();

        await using var seedContext = await scope.CreateDbContextAsync();
        var (id, _) = await {{FeatureName}}TestData.SeedAsync(seedContext);

        var handler = scope.GetHandler<Update{{FeatureName}}QueryHandler>();
        var result = await handler.RunQueryAsync(
            new Update{{FeatureName}}Query
            {
                UpdatedModel = new {{FeatureName}}Dto
                {
                    Id = id,
                    Name = {{FeatureName}}TestData.UpdatedName,
                },
            },
            CancellationToken.None
        );

        QueryHandlerResultAssert.AssertUnit(result);

        await using var verifyContext = await scope.CreateDbContextAsync();
        var entity = await verifyContext.Set<{{FeatureEntityName}}>().FindAsync(id.Value);
        Assert.NotNull(entity);
        Assert.Equal({{FeatureName}}TestData.UpdatedName, entity.Name);
    }

    [Fact]
    public async Task RunQueryAsync_WhenEntityMissing_ReturnsNone()
    {
        await using var scope = new InMemoryFeatureTestScope<{{ProjectName}}DbContext, {{FeatureName}}MapsterConfig>(
            typeof(Update{{FeatureName}}QueryHandler).Assembly
        );
        await scope.EnsureCreatedAsync();

        var handler = scope.GetHandler<Update{{FeatureName}}QueryHandler>();
        var result = await handler.RunQueryAsync(
            new Update{{FeatureName}}Query
            {
                UpdatedModel = new {{FeatureName}}Dto
                {
                    Id = {{FeatureName}}Id.From(Guid.NewGuid()),
                    Name = {{FeatureName}}TestData.UpdatedName,
                },
            },
            CancellationToken.None
        );

        QueryHandlerResultAssert.AssertNone(result);
    }
}
