using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;

using Microsoft.EntityFrameworkCore;

namespace {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

public class Delete{{FeatureName}}QueryHandler
    : DeleteCommandHandlerBase<
        Delete{{FeatureName}}Query,
        {{FeatureName}}Dto,
        {{FeatureName}}Id,
        Guid,
        {{ProjectName}}DbContext,
        Entities.{{FeatureEntityName}}
    >
{
    public Delete{{FeatureName}}QueryHandler(IDbContextFactory<{{ProjectName}}DbContext> contextFactory)
        : base(contextFactory)
    {
    }
}
