using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;

namespace {{ProjectName}}.Features.{{FeatureName}}.Contracts;

public class Delete{{FeatureName}}Query
    : DeleteCommand<{{FeatureName}}Dto, {{FeatureName}}Id, Guid, Delete{{FeatureName}}Query>;
