using {{ProjectName}}.Features.Users.Contracts.Models;

using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserGetByIdQuery : IQuery<User, UserGetByIdQuery>
{
    public User.UserIdentifier UserId { get; set; } = default!;
}
