using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserExistsByUsernameQuery : IQuery<bool, UserExistsByUsernameQuery>
{
    public string Username { get; set; } = string.Empty;
}
