using {{ProjectName}}.Features.Users.Contracts.Models;

using {{ProjectName}}.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserCreateQuery : IQuery<UserId, UserCreateQuery>
{
    public required User ModelToCreate { get; set; }

    public UserCredentials? UserCredentials { get; set; }
}
