using {{ProjectName}}.Features.Users.Contracts.Models;

using {{ProjectName}}.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserGetByInternalIdQuery : IQuery<UserId, UserGetByInternalIdQuery>
{
    public string InternalId { get; set; } = string.Empty;
}
