using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.Users.Contracts.Models;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserGetByIdQuery : SingleModelQuery<User, UserId, Guid, UserGetByIdQuery>;
