using {{ProjectName}}.Features.Users.Contracts.Models;

using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserGetByInternalIdQuery : IQuery<User.UserIdentifier, UserGetByInternalIdQuery>
{
    public string InternalId { get; set; } = string.Empty;
}
