using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.Users.Contracts.Models;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserCredentialsCreateQuery
    : CreateQuery<UserCredentials, UserCredentialsId, Guid, UserCredentialsCreateQuery>;
