using {{ProjectName}}.Features.Users.Contracts.Models;

using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users.Contracts.Queries.Users;

public class UserCredentialsCreateQuery : IQuery<Unit, UserCredentialsCreateQuery>
{
    public required UserCredentials ModelToCreate { get; set; }
}
