using {{ProjectName}}.Common;

namespace {{ProjectName}}.Api;

public class Startup
{
    public Startup(IConfiguration configuration, IWebHostEnvironment environment)
    {
        Configuration = configuration;
        Environment = environment;
    }

    public IConfiguration Configuration { get; }

    public IWebHostEnvironment Environment { get; }

    public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
    {
        app.UseRouting();
        app.UseEndpoints(endpoints =>
        {
            endpoints.MapControllers();
        });
    }

    public void ConfigureServices(IServiceCollection services)
    {
        DependencyInjectionHelpers
            .ConfigureGlobalServices(services, Configuration, FeatureRegistration.GetFeatureAssemblies())
            .GetAwaiter()
            .GetResult();

        services.AddControllers();
    }
}
