using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.{{FeatureName}};

public class {{FeatureName}}PipelineProfile : IPipelineProfile
{
    public void RegisterPipelines(Action<Pipeline> registerFunction)
    {
    }
}
