using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Common.Tests.Testing;
using {{ProjectName}}.Features.{{FeatureName}};
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;
using {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;
using {{ProjectName}}.Features.{{FeatureName}}.Tests.Testing;

namespace {{ProjectName}}.Features.{{FeatureName}}.Tests.QueryHandlers;

public class Create{{FeatureName}}QueryHandlerTests
{
    [Fact]
    public async Task RunQueryAsync_PersistsEntity_ReturnsNewId()
    {
        await using var scope = new InMemoryFeatureTestScope<{{ProjectName}}DbContext, {{FeatureName}}MapsterConfig>(
            typeof(Create{{FeatureName}}QueryHandler).Assembly
        );
        await scope.EnsureCreatedAsync();

        var handler = scope.GetHandler<Create{{FeatureName}}QueryHandler>();
        var result = await handler.RunQueryAsync(
            new Create{{FeatureName}}Query
            {
                ModelToCreate = new {{FeatureName}}Dto { Name = {{FeatureName}}TestData.SampleName },
            },
            CancellationToken.None
        );

        var id = QueryHandlerResultAssert.AssertSome(result);
        QueryHandlerResultAssert.AssertIdentifierNonEmpty(id);

        await using var context = await scope.CreateDbContextAsync();
        var entity = await context.Set<{{FeatureEntityName}}>().FindAsync(id.Value);
        Assert.NotNull(entity);
        Assert.Equal(id.Value, entity.Id);
        Assert.Equal({{FeatureName}}TestData.SampleName, entity.Name);
    }
}
