using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;

using MapsterMapper;

using Microsoft.EntityFrameworkCore;

namespace {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

public class Create{{FeatureName}}QueryHandler
    : CreateQueryHandlerBase<
        Create{{FeatureName}}Query,
        {{FeatureName}}Dto,
        {{FeatureName}}Id,
        Guid,
        {{ProjectName}}DbContext,
        Entities.{{FeatureName}}
    >
{
    public Create{{FeatureName}}QueryHandler(
        IMapper mapper,
        IDbContextFactory<{{ProjectName}}DbContext> contextFactory
    )
        : base(mapper, contextFactory)
    {
    }
}
