using {{ProjectName}}.Features.{{FeatureName}}.Entities;

using Microsoft.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore.Metadata.Builders;

namespace {{ProjectName}}.Features.{{FeatureName}}.Configurations;

public class {{FeatureEntityName}}Configuration : IEntityTypeConfiguration<Entities.{{FeatureEntityName}}>
{
    public void Configure(EntityTypeBuilder<Entities.{{FeatureEntityName}}> builder)
    {
        builder.ToTable("{{FeatureName}}");
        builder.HasKey(entity => entity.Id);
        builder.Property(entity => entity.Name).HasMaxLength(256).IsRequired();
    }
}
