using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Features.Users.Contracts.Queries.Users;
using {{ProjectName}}.Features.Users.Entities;

using Microsoft.EntityFrameworkCore;

using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users.QueryHandlers.Users;

public class UserCredentialsCreateQueryHandler : IQueryHandler<UserCredentialsCreateQuery, Unit>
{
    private readonly IDbContextFactory<{{ProjectName}}DbContext> _contextFactory;

    public UserCredentialsCreateQueryHandler(IDbContextFactory<{{ProjectName}}DbContext> contextFactory)
    {
        _contextFactory = contextFactory;
    }

    public IQueryHandler<UserCredentialsCreateQuery, Unit> Successor { get; set; } = default!;

    public async Task<Option<Unit>> RunQueryAsync(
        UserCredentialsCreateQuery query,
        CancellationToken cancellationToken
    )
    {
        await using var context = await _contextFactory.CreateDbContextAsync(cancellationToken);
        context.Set<UserCredentialsEntity>().Add(
            new UserCredentialsEntity
            {
                UserId = query.ModelToCreate.UserId.ToGuid(),
                Username = query.ModelToCreate.Username,
                PasswordHash = query.ModelToCreate.PasswordHash,
                SignInProvider = query.ModelToCreate.SignInProvider,
                InternalId = query.ModelToCreate.InternalId,
                EmailCiphertext = query.ModelToCreate.EmailCiphertext,
                EmailLookupHash = query.ModelToCreate.EmailLookupHash,
                PasswordResetTokenHash = query.ModelToCreate.PasswordResetTokenHash,
                PasswordResetTokenExpireDate = query.ModelToCreate.PasswordResetTokenExpireDate,
                Deleted = query.ModelToCreate.Deleted,
            }
        );
        await context.SaveChangesAsync(cancellationToken);
        return Unit.Value;
    }
}
