using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Features.Users.Contracts.Models;
using {{ProjectName}}.Features.Users.Contracts.Queries.Users;
using {{ProjectName}}.Features.Users.Entities;

using Microsoft.EntityFrameworkCore;

using {{ProjectName}}.Cqrs;

namespace {{ProjectName}}.Features.Users.QueryHandlers.Users;

public class UserGetByInternalIdQueryHandler : IQueryHandler<UserGetByInternalIdQuery, UserId>
{
    private readonly IDbContextFactory<{{ProjectName}}DbContext> _contextFactory;

    public UserGetByInternalIdQueryHandler(IDbContextFactory<{{ProjectName}}DbContext> contextFactory)
    {
        _contextFactory = contextFactory;
    }


    public async Task<Option<UserId>> RunQueryAsync(
        UserGetByInternalIdQuery query,
        CancellationToken cancellationToken
    )
    {
        if (string.IsNullOrWhiteSpace(query.InternalId))
        {
            return Option<UserId>.None;
        }

        await using var context = await _contextFactory.CreateDbContextAsync(cancellationToken);
        var credentials = await context
            .Set<UserCredentialsEntity>()
            .AsNoTracking()
            .FirstOrDefaultAsync(
                x => x.InternalId == query.InternalId && !x.Deleted,
                cancellationToken
            );

        if (credentials == null)
        {
            return Option<UserId>.None;
        }

        return UserId.From(credentials.UserId);
    }
}
