using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.Users.Contracts.Models;
using {{ProjectName}}.Features.Users.Contracts.Queries.Users;
using {{ProjectName}}.Features.Users.Entities;

using MapsterMapper;

using Microsoft.EntityFrameworkCore;

namespace {{ProjectName}}.Features.Users.QueryHandlers.Users;

public class UserCredentialsCreateQueryHandler
    : CreateQueryHandlerBase<
        UserCredentialsCreateQuery,
        UserCredentials,
        UserCredentialsId,
        Guid,
        {{ProjectName}}DbContext,
        UserCredentialsEntity
    >
{
    public UserCredentialsCreateQueryHandler(
        IMapper mapper,
        IDbContextFactory<{{ProjectName}}DbContext> contextFactory
    )
        : base(mapper, contextFactory)
    {
    }
}
