using Prodot.Patterns.Cqrs;

namespace {{ProjectName}}.Features.Users;

public class UsersPipelineProfile : IPipelineProfile
{
    public void RegisterPipelines(Action<Pipeline> registerFunction)
    {
    }
}
