using {{ProjectName}}.Cqrs.EfCore;

namespace {{ProjectName}}.Features.{{FeatureName}}.Entities;

public class {{FeatureName}} : IIdentifiableEntity<Guid>
{
    public Guid Id { get; set; }

    public string Name { get; set; } = string.Empty;
}
