using {{ProjectName}}.Cqrs.EfCore;

namespace {{ProjectName}}.Features.Users.Contracts.Models;

public class User : ModelBase<UserId, Guid>
{
    public string Username { get; set; } = string.Empty;
}
