import 'package:flutter/material.dart';

class {{FeatureName}}PlaceholderWidget extends StatelessWidget {
  const {{FeatureName}}PlaceholderWidget({super.key, required this.message});

  final String message;

  @override
  Widget build(BuildContext context) {
    return Card(
      child: Padding(
        padding: const EdgeInsets.all(16),
        child: Text(message),
      ),
    );
  }
}
