using {{ProjectName}}.Common;
using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Features.{{FeatureName}};
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

using Mapster;

using Microsoft.Data.Sqlite;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.DependencyInjection;

using {{ProjectName}}.Cqrs;
using MapsterMapper;
using {{ProjectName}}.Cqrs.DependencyInjection;

namespace {{ProjectName}}.Features.{{FeatureName}}.Tests.QueryHandlers;

public class Get{{FeatureName}}QueryHandlerTests
{
    [Fact]
    public async Task RunQueryAsync_WhenEntityMissing_ReturnsNone()
    {
        await using var connection = new SqliteConnection("Data Source=:memory:");
        await connection.OpenAsync();

        var services = new ServiceCollection();
        services.AddSingleton<IFeatureAssemblyProvider>(
            new FeatureAssemblyProvider([typeof({{FeatureName}}MapsterConfig).Assembly])
        );
        services.AddDbContextFactory<{{ProjectName}}DbContext>(options => options.UseSqlite(connection));
        services.AddLogging();
        var mapsterConfig = new TypeAdapterConfig();
        new {{FeatureName}}MapsterConfig().Register(mapsterConfig);
        services.AddSingleton(mapsterConfig);
        services.AddSingleton<IMapper>(sp => new Mapper(sp.GetRequiredService<TypeAdapterConfig>()));
        services.AddCqrs(options =>
            options.WithQueryHandlersFrom(typeof(Get{{FeatureName}}QueryHandler).Assembly)
        );

        await using var serviceProvider = services.BuildServiceProvider();
        await using var scope = serviceProvider.CreateAsyncScope();

        var contextFactory = scope.ServiceProvider.GetRequiredService<
            IDbContextFactory<{{ProjectName}}DbContext>
        >();
        await using (var context = await contextFactory.CreateDbContextAsync())
        {
            await context.Database.EnsureCreatedAsync();
        }

        var handler = scope.ServiceProvider.GetRequiredService<Get{{FeatureName}}QueryHandler>();
        var result = await handler.RunQueryAsync(
            new Get{{FeatureName}}Query { ModelId = {{FeatureName}}Id.From(Guid.NewGuid()) },
            CancellationToken.None
        );

        Assert.True(result.IsNone);
    }
}
