using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;

namespace {{ProjectName}}.Features.{{FeatureName}}.Contracts;

public class Get{{FeatureName}}Query
    : SingleModelQuery<{{FeatureName}}Dto, {{FeatureName}}Id, Guid, Get{{FeatureName}}Query>;
