using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Cqrs.EfCore;
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.Entities;

using MapsterMapper;

using Microsoft.EntityFrameworkCore;

namespace {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

public class List{{FeatureName}}QueryHandler
    : ListOfModelQueryHandlerBase<
        List{{FeatureName}}Query,
        {{FeatureName}}Dto,
        {{FeatureName}}Id,
        Guid,
        {{ProjectName}}DbContext,
        Entities.{{FeatureEntityName}}
    >
{
    public List{{FeatureName}}QueryHandler(
        IMapper mapper,
        IDbContextFactory<{{ProjectName}}DbContext> contextFactory
    )
        : base(mapper, contextFactory)
    {
    }
}
