using {{ProjectName}}.Common;
using {{ProjectName}}.Common.Data;
using {{ProjectName}}.Features.{{FeatureName}};
using {{ProjectName}}.Features.{{FeatureName}}.Contracts;
using {{ProjectName}}.Features.{{FeatureName}}.QueryHandlers;

using Microsoft.Data.Sqlite;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.DependencyInjection;

using Prodot.Patterns.Cqrs;
using Prodot.Patterns.Cqrs.MicrosoftExtensionsDependencyInjection;

namespace {{ProjectName}}.Features.{{FeatureName}}.Tests.QueryHandlers;

public class List{{FeatureName}}QueryHandlerTests
{
    [Fact]
    public async Task RunQueryAsync_WhenEmpty_ReturnsEmptyList()
    {
        await using var connection = new SqliteConnection("Data Source=:memory:");
        await connection.OpenAsync();

        var services = new ServiceCollection();
        services.AddSingleton<IFeatureAssemblyProvider>(
            new FeatureAssemblyProvider([typeof({{FeatureName}}PipelineProfile).Assembly])
        );
        services.AddDbContextFactory<{{ProjectName}}DbContext>(options => options.UseSqlite(connection));
        services.AddLogging();
        services.AddProdotPatternsCqrs(options =>
            options
                .WithQueryHandlersFrom(typeof({{FeatureName}}PipelineProfile).Assembly)
                .WithQueryHandlerPipelineConfiguration(config =>
                    config
                        .WithPipelineAutoRegistration()
                        .AddProfiles(typeof({{FeatureName}}PipelineProfile).Assembly)
                )
        );

        await using var serviceProvider = services.BuildServiceProvider();
        await using var scope = serviceProvider.CreateAsyncScope();

        var contextFactory = scope.ServiceProvider.GetRequiredService<
            IDbContextFactory<{{ProjectName}}DbContext>
        >();
        await using (var context = await contextFactory.CreateDbContextAsync())
        {
            await context.Database.EnsureCreatedAsync();
        }

        var handler = scope.ServiceProvider.GetRequiredService<List{{FeatureName}}QueryHandler>();
        var result = await handler.RunQueryAsync(new List{{FeatureName}}Query(), CancellationToken.None);

        Assert.True(result.IsSome);
        Assert.Empty(result.Get());
    }
}
