<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <RootNamespace>{{ProjectName}}.Common.SendGrid</RootNamespace>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="SendGrid" Version="9.29.3" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\ProjectName.Common\ProjectName.Common.csproj" />
    <ProjectReference Include="..\ProjectName.Cqrs\ProjectName.Cqrs.csproj" />
  </ItemGroup>

</Project>
